<%- include("../partials/head") %>
	<bigcard>
		<div class="nospace centered">
			<center>
				<h0>harmony</h0>
				<p>motto motto motto motto motto</p>
			</center>
		</div>
		<div class="nospace" style="position:absolute;bottom:5vh;left:50%;transform:translate(-50%,0%); font-size: 2.5vh;">
			<a href="/login">log in</a> / <a href="/signup">sign up</a>
		</div>
	</bigcard>
<%- include("../partials/feet") %>